<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.paperwise.Mapper.CardMapper">
    <select id="getCardById" resultType="org.example.paperwise.entry.Card">
        select * from card where card_id=#{card_id} and userid=#{userid}
    </select>
    <select id="getAllQuestionType" resultType="java.util.Map">
        select question_type,COUNT(*) as count from card where userid=#{userid} group BY question_type
    </select>
    <insert id="batchAddCard">
        INSERT INTO card (userid, title, options, answer, explanation,
        card_type, card_difficulty, card_mastery, question_type)
        VALUES
        <foreach collection="list" item="q" separator=",">
            (#{q.userid}, #{q.title},
            #{q.options, typeHandler=com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
            #{q.answer, typeHandler=com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
            #{q.explanation},
            #{q.cardType}, #{q.cardDifficulty}, #{q.cardMastery}, #{q.questionType})
        </foreach>
    </insert>
</mapper>